@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --text-regular: 1.5rem;
}

:root {
  --bg: #ffffff;
  --text: #111;
  --accent: #0070f3;
  --bg-alt: #f7f7f7;
}

body.dark {
  --bg: #121212;
  --text: #f4f4f4;
  --accent: #80d0f3;
  --bg-alt: #1e1e1e;
}
