@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";
@tailwind utilities;

:root {
  --text-regular: 1.5rem;
  --font-title: "Sora", sans-serif;
  --breakpoint-mobile: 900px;

  --bg: #ffffff;
  --text: #111;
  --accent: #0070f3;
  --bg-alt: #f7f7f7;
}

body.dark {
  --bg: #121212;
  --text: #f4f4f4;
  --accent: #80d0f3;
  --bg-alt: #1e1e1e;
}
